.button-left,
.button-center,
.button-right {
	margin: 1.5em 0;
}

.button-link {
	@include hedfont;
	display: table;
	color: $text-color;
	font-size: 14px;
	letter-spacing: 0.11em;
	line-height: 1.21;
	text-align: center;
	border: 2px solid #94C93D;
	border-radius: 22px;
	text-transform: uppercase;
	padding: 12px 28px;
	&:hover {
		color: $text-color-alt;
		background: linear-gradient(270deg, #97C93D 0%, #73AA04 100%);
		border: none;
		text-decoration: none;
		padding: 14px 30px;
	}
	&__donate-icon {
		display: inline-block;
		fill: $svg-fill-alt;
		width: 15px;
		height: 15px;
		margin-right: 6px;
	}
	&--right {
		.button-link {
			margin-left: auto;
		}
	}
	&--center {
		.button-link {
			margin: 0 auto;
		}
	}
	&--donate {
		border: none;
		color: $text-color-alt;
		background: linear-gradient(270deg, #97C93D 0%, #73AA04 100%);
		padding: 12px 30px;
		&:hover {
			border: none;
			color: $accent-one;
			background: $background;
			padding: 12px 30px;
			.button-link__donate-icon {
				fill: $accent-one;
			}
		}
	}
	&--white {
		border: 2px solid $border-color-alt-2;
		background-color: transparent;
		color: $text-color-alt;
		padding: 12px 28px;
		&:hover {
			background: linear-gradient(270deg, #97C93D 0%, #73AA04 100%);
			border: none;
			padding: 14px 30px;
		}
	}
}

.load-more {
	margin:auto;
	margin-bottom: 32px;
	@include tablet {
		margin-bottom: 60px;
	}
}