
$black: black;
$white: #FFFFFF;

$overlay: #031A27;

$background: #FFFFFF;
$background-alt: #0D3043;

$submenu-text: #4B4A4A;

$text-color: #0D3043;
$text-color-alt: #FFFFFF;
$text-color-alt-2: #434242;

$link-color: #02587E;
$link-color-alt: #FFFFFF;
$link-hover: #35A4C4;

$svg-fill: #0D3043;
$svg-fill-alt: #FFFFFF;
$svg-fill-alt-2:#575A5D;

$border-color: #0D3043;
$border-color-alt: #97C93D;
$border-color-alt-2: #FFFFFF;

$accent-one: #97C93D;
$accent-alt:#82AC35;
$accent-focus: #7AA32E;
