.not-found {
	&__marquee {
		display: flex;
		justify-content: center;
		align-content: center;
		box-sizing: border-box;
		background-color: $background-alt;
		border-top: 1px solid white;
		margin: 3px 4px 16px;
		padding: 100px;
		@include notebook {
			border-top: 1px solid white;
			min-height: 443px;
			margin: 11px 12px 8px;
			padding: 150px;
		}
	}
	&__hed {
		@include hedfont;
		color: $text-color-alt;
		line-height: 1.15;
		font-size: 18px;
		text-align: center;
		@include phablet {
			font-size: 24px;
		}
		@include notebook {
			font-size: 34px;
		}
		@include desktop {
			font-size: 36px;
		}
	}
}